{% extends "base.html" %}
{% block content %}
<div class="main-text">
    <p></p>
    <!-- Button to open the modal -->
    <button class= "btn btn-primary retro-button" id="openModalButton">Engage the thrusters!</button>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Welcome to the past-->
    <p id="on-arrival"></p>
    <!-- Close button -->
    <span class="close" id="closeModalButton">&times;</span>
    <button class="btn btn-secondary custom-button" id="return">&#8592;</button>
    <!-- Modal content -->
    <div class="tv-screen">
        <div class="noise"></div>
        <div class="vignette"></div>
        <div class="static-top"></div>
        <div class="static-bottom"></div>
        <div class="nostalgic-filter"></div>
        <div class="old-filter"></div>
    </div>
    <div class="button-container">
        <h1 class="button-title">&lt;&lt;&lt; Clear the signal with your preferences below. &DownArrow;</h1>
        <div class="button-section type">
            <button class="btn btn-primary custom-button" data-type="Artists">Top Artists</button>
            <button class="btn btn-primary custom-button" data-type="Tracks">Top Tracks</button>
            <button class="btn btn-primary custom-button" data-type="Genres">Top Genres</button>
        </div>
        <div class="button-section range">
            <button class="btn btn-primary custom-button" data-type="short_term">Past month</button>
            <button class="btn btn-primary custom-button" data-type="medium_term">Past 6 months</button>
            <button class="btn btn-primary custom-button" data-type="long_term">Your Lifetime</button>
        </div>
        <div class="button-section slider">
            <div class="form-group">
                <label for="retro-slider">Number of Artists/Tracks:</label>
                <input type="range" class="form-control-range retro-slider" id="retro-slider" min="1" max="50" value="25">
                <span id="slider-value">10</span>
            </div>
        </div>
        <button class="btn btn-secondary custom-button" id="submit-button">Enjoy the show!</button>
    </div>
    <div class="controller-section">
        <div class="top-half"></div>
        <div class="bottom-half"></div>
    </div>
</div>
<script>
    var user = {{ user|tojson|safe }};
</script>
<script src="static/scripts/main_page.js" type="module"></script>
<script src="static/scripts/retrieve_display.js" type="module"></script>
{% endblock %}